<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add books</title>

</head>

<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<form action="http://localhost:5000/books/addbooks" method="POST">
		<input type="text" name="bookname" placeholder="Book Name" required>
		<input type="number" name="count" placeholder="Count" required>
		<input type="price" name="price" placeholder="Price" required>
		<input type="text" name="description" placeholder="Description" required>
		<input type="submit" value="submit">
	</form>
</body>

</html>