{% extends "layout.html" %}

{% block navbar %}

<div ml-6 class="flex-1 flex items-center items-stretch justify-start">
	<p class="text-white px-3 py-2 rounded-md text-lg font-medium">Library Management System</p>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/dashboard" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">{{session['name']}}'s Dashboard</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/users/manageusers" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Users</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/books/managebooks" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Books</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/logout" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Logout</a>
</div>
{% endblock %}

{% block fullbody %}
<div class="container mx-auto p-2">
	<div class="max-w-sm mx-auto my-24 bg-white px-5 py-10 rounded shadow-xl">
		<div class="text-center mb-8">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>

				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
			{% endwith %}
			<h1 class="font-bold text-2xl font-bold">Modify Book</h1>
		</div>
		<form action="http://localhost:5000/books/modifybooks/{{node.bookname}}" method="post">
			<div class="mt-2">
				<label for="bookname">Book Name</label>
				<input type="text" name="bookname" id="bookname" class="block w-full p-2 border rounded border-gray-500"
					value={{node.bookname}} disabled required />
			</div>
			<div class="mt-2">
				<label for="count">Count</label>
				<input type="number" name="count" id="count" class="block w-full p-2 border rounded border-gray-500"
					value={{node.count}} required />
			</div>
			<div class="mt-2">
				<label for="price">Price</label>
				<input type="number" name="price" id="price" class="block w-full p-2 border rounded border-gray-500"
					value={{node.price}} required />
			</div>
			<div class="mt-2">
				<label for="description">Description</label>
				<input type="text" name="description" id="description"
					class="block w-full p-2 border rounded border-gray-500" value={{node.description}} required />
			</div>

			<div class="mt-10">
				<input type="submit" value="submit"
					class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full" />
			</div>
		</form>
	</div>
</div>



{% endblock %}
