{% extends "layout.html" %}


{% block navbar %}
<div ml-6 class="flex-1 flex items-center items-stretch justify-start">
	<p class="text-white px-3 py-2 rounded-md text-lg font-medium">Library Management System</p>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/dashboard" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">{{session['name']}}'s Dashboard</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/users/manageusers" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Users</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/books/managebooks" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Books</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/logout" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Logout</a>
</div>
{% endblock %}

{% block fullbody %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

{% endif %}
{% endwith %}
<div class="container justify-center mt-12">
	<div class="bg-white p-4" style="box-shadow:  10px 7px 29px 10px;white-space: pre-wrap;">
		<p class="font-bold text-xl">AVL Tree's Application in Library Management:</p>
		In a traditional Library Management System, the updating, reading and deleting operations on books will take order of N time. Using AVL trees, we can reduce the time complexities for the above operations to order of log(N), which will be a lot faster in case of handling enormous data.
		<p class="font-bold text-lg">To learn more about working of AVL trees refer the text below (scraped from web):</p>
		<img style="margin-left:auto;margin-right:auto;height:300px" src="{{avl_tree_imglink}}" alt="picture of avl tree">
		{{avl_tree_info}}
	</div>
</div>
{% endblock %}