{% extends "layout.html" %}


{% block navbar %}

<div ml-6 class="flex-1 flex items-center items-stretch justify-start">
	<p class="text-white px-3 py-2 rounded-md text-lg font-medium">Library Management System</p>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/dashboard" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">{{session['name']}}'s Dashboard</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/users/manageusers" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Users</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/books/managebooks" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Books</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/logout" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Logout</a>
</div>
{% endblock %}

{% block fullbody %}
<div class="container mx-auto p-2">
	<div class="max-w-sm mx-auto my-24 bg-white px-5 py-10 rounded shadow-xl">
		<div class="text-center mb-8">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>

				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
			{% endwith %}
			<h1 class="font-bold text-2xl font-bold">Add User</h1>
		</div>
		<form action="http://localhost:5000/users/addusers" method="post">
			<div class="mt-2">
				<label for="username">Username</label>
				<input type="text" name="username" id="username"
					class="block w-full p-2 border rounded border-gray-500" />
			</div>
			<div class="mt-2">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" class="block w-full p-2 border rounded border-gray-500" />
			</div>
			<div class="mt-2">

				Role:
				<div class="form-check">
					<input class="form-check-input" value="admin" type="radio" name="role" id="role">
					<label class="form-check-label" for="role1">
						Admin
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" value="user" type="radio" name="role" id="role1">
					<label class="form-check-label" for="role1">
						User
					</label>
				</div>
			</div>


			<div class="mt-2">
				<label for="password">Password</label>
				<input type="password" name="password" id="password"
					class="block w-full p-2 border rounded border-gray-500" />
			</div>
			<div class="mt-10">
				<input type="submit" value="submit"
					class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full" />
			</div>
		</form>
	</div>
</div>

{% endblock %}