{% extends "layout.html" %}



{% block navbar %}
<div ml-6 class="flex-1 flex items-center items-stretch justify-start">
	<p class="text-white px-3 py-2 rounded-md text-lg font-medium">Library Management System</p>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/dashboard" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">{{session['name']}}'s Dashboard</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/users/manageusers" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Users</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/books/managebooks" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Manage Books</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/logout" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Logout</a>
</div>
{% endblock %}

{% block fullbody %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}
{% endwith %}
<h1 class="text-white text-5xl text-center mb-3 mt-4">Manage Users</h1>
<div class="text-center justify-center mb-4">
	<a href="/users/addusers" class="btn btn-dark">Add Users</a>
</div>
<div class="container">

	<table class="table table-striped bg-white text-center">
		<thead class="thead-dark">
			<th>Username</th>
			<th>Name</th>
			<th>Role</th>
			<th>Due</th>
			<th>Actions</th>
		</thead>

		{%for user in users%}
		<tr>
			<td>{{user[0]}}</td>
			<td>{{user[1]}}</td>
			<td>{{user[2]}}</td>
			<td>{{user[5]}}</td>
			<td>
				<a href="/users/deleteuser/{{user[0]}}" class="btn btn-danger">delete</a>
				<a href="/users/modifyuser/{{user[0]}}" class="btn btn-primary">modify</a>
			</td>
		</tr>
		{%endfor%}
	</table>
</div>
{% endblock %}
