{% extends "layout.html" %}



{% block navbar %}
<div ml-6 class="flex-1 flex items-center items-stretch justify-start">
	<p class="text-white px-3 py-2 rounded-md text-lg font-medium">Library Management System</p>
</div>
<div class="text-white absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<b>Due: {{session['due']}}</b>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/dashboard" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">{{session['name']}}'s Dashboard</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/transaction/borrowbook" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Borrow</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/transaction/returnbook" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Return</a>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto">
	<a href="/logout" class="bg-blue-900 text-white px-3 py-2 rounded-md text-sm font-medium"
		aria-current="page">Logout</a>
</div>
{% endblock %}



{% block fullbody %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}
{% endwith %}
<h1 class="text-white text-5xl text-center mb-3 mt-4">Return Books</h1>
<div class="container">

	<table class="table table-striped bg-white">
		<thead class="thead-dark">

			<th>Name</th>
			<th>Issue date</th>
			<th>Issue time</th>
			<th>Actions</th>
		</thead>

		{% if books|length==0 %}
		<tr>
			<td colspan="4" class="text-center">No books to return</td>
		</tr>
		{% endif %}
		{%for book in books%}
		<tr>
			<td>{{book.bookname}}</td>
			<td>{{book.issuedate}}</td>
			<td>{{book.issuetime}}</td>
			<td>
				<a href="http://localhost:5000/transaction/return/{{book.bookname}}${{book.issuedatetime}}"
					class="btn btn-danger">return</a>
				<a href="http://localhost:5000/transaction/lost/{{book.bookname}}${{book.issuedatetime}}"
					class="btn btn-primary">lost</a>
			</td>
		</tr>
		{%endfor%}
	</table>
</div>
{% endblock %}
